.pageColumn {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: 100%;
}

.pageSubpage {
  display: flex;
  width: 100%;
}

.rowLine {
  border-top: 2px solid #000;
  margin-top: -2px;
}

%rowChildBase {
  display: flex;
  justify-content: space-between;
  margin-top: -2px;
  width: 100%;

  > div {
    width: calc(50% - 15px);
  }
}

.rowLeftChild { @extend %rowChildBase; }
.rowRightChild { @extend %rowChildBase; }

.rowLeftChild  > div:last-child  { border-top: 2px solid #000; border-top-left-radius: 8px; }
.rowRightChild > div:first-child { border-top: 2px solid #000; border-top-right-radius: 8px; }

.manyChild {
  background-color: #c2d6e7;
  display: flex;
  height: 30px;
  width: 30px;
  z-index: 5;

  > div {
    flex: 1 1;

    &:first-child {
      border-bottom: 2px solid #000;
      border-bottom-right-radius: 8px;
      border-right: 1.5px solid #000;
    }

    &:nth-child(2)  {
      border-bottom: 2px solid #000;
      border-bottom-left-radius: 8px;
      border-left: 1.5px solid #000;
    }
  }
}

