.btn {
  width: 100%;
  border-color: #fff;
  border-radius: 15px;
  background-color: #000;
  color: #fff;
  font-size: 18px;

  &:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
  }
}
