.block {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 6px 10px;
  border-radius: 36px;

  font-size: 14px;
  font-weight: 700;

  cursor: cell;
  transition: box-shadow 0.15s ease, opacity 0.15s ease;
}

.dragging {
  opacity: 0.4;
  cursor: grab;
}

/* ---------- states ---------- */

.passive {
  background-color: #000;
  color: #fff;
}

.active {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

/* ---------- delete button ---------- */

.delete {
  position: absolute;
  right: 2px;
  top: 2px;
}

/* ---------- drop zone ---------- */

.dropOver {
  box-shadow: rgb(0, 117, 255) 0 4px 3px;
}
