.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pageBody {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 16px;
  position: relative;
  width: 152px;
  z-index: 25;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.active {
  background-color: #000;
  color: #fff;
}

%childConnectorBase {
  display: flex;
  height: 30px;
  margin-top: -2px;
  width: 100%;

  > div {
    flex: 1 1;
  }
}

.leftChild {
  @extend %childConnectorBase;

  > div:last-child {
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-top-left-radius: 8px;
  }
}

.rightChild {
  @extend %childConnectorBase;

  > div:first-child {
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-top-right-radius: 8px;
  }
}

.actions {
  position: absolute;
  z-index: 30;
  bottom: -12px;
  left: 64px;
}

.shadow {
  position: absolute;
  width: 152px;

  background-color: #fff;

  border: 2px solid #000;
  border-top: none;
  border-radius: 0 0 12px 12px;
}

.shadowFirst {
  bottom: -8px;
  height: 18px;
  z-index: 2;
}

.shadowSecond {
  bottom: -16px;
  height: 18px;
  z-index: 1;
}

.remove{
  position: absolute;
  top: -12px;
  right: -12px;
}

.blocks {
  display: flex;
  flex-direction: column;
}


